body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 4 peças de 100px cada */
    grid-gap: 5px;
    margin: 20px;
}

.piece {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 400px 400px; /* Ajuste de tamanho para o fundo */
}
