body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f7fa;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 75px); /* 4 peças de 75px cada */
    grid-gap: 5px;
    margin: 20px;
}

.piece {
    width: 75px; /* Largura da peça */
    height: 100px; /* Altura da peça (proporção 3:4) */
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 300px 400px; /* Ajuste de tamanho para o fundo */
    background-repeat: no-repeat; /* Garante que a imagem não se repita */
}
